<div class="container__big-card">
    <div class="big-card__title">
        <h1><a href="">teste</a></h1>
    </div>
    <div class="big-card__description">
        <a href=""><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque ex metus, sit amet facilisis nulla sagittis nec. Nam at mi tellus. Vivamus sollicitudin ex lacus, a viverra mi tempus vel. Donec sed sodales sem, ac convallis odio. Pellentesque feugiat.</p></a>
    </div>
    <div class="big-card__photo">
        <img 
        src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg" 
        alt="" 
        height="200px"
        srcset="">
    </div>
</div>
