<app-menu-title></app-menu-title>


<app-subtitle subtitle="PROJETOS"></app-subtitle>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://i.ytimg.com/vi/SDe73ysJzhU/maxresdefault.jpg" 
            cardDescription="Repositório com projetos e desafios de códigos desenvolvidos durante o Decola Tech 2025. Clique para saber mais!"
            cardTitle="Projeto Decola Tech 2025">
        </app-big-card>
    </div>
    <div class="articles__others">
        <a href="https://github.com/cellineb/agenda-POO">
        <app-small-card 
            cardTitle="Agenda POO - agenda voltada para estudantes, que permite cadastrar, editar, excluir e buscar disciplinas e tarefas. Desenvolvida em Java. Clique para ir para o repositório!" 
            photoCover="https://media.istockphoto.com/id/1261718311/pt/vetorial/calendar-schedule-icon-black-color.jpg?s=612x612&w=0&k=20&c=6QH59dFXJPHdK8S039FD_y3ONXkUEtRRpFozKvyfoRA=">
        </app-small-card>
        </a>

        <a href="https://github.com/cellineb/skeep-jogo/tree/main">
        <app-small-card 
            cardTitle="Skeep Jogo - Jogo do Dinossauro Skeep que pula, corre, come, canta, toma sol e fica na sombra. Clique para ir para o repositório!"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCrDRuw3K2MxmMXFWHXz_WlJNGt8JFIKGumA&s">
        </app-small-card>
        </a>

    </div>
</div>

<app-subtitle subtitle="HABILIDADES"></app-subtitle>
<div class="container__skills">
    <app-skills></app-skills>
</div>



