<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://i.ytimg.com/vi/SDe73ysJzhU/maxresdefault.jpg" 
            cardDescription="Repositório com projetos e desafios de códigos desenvolvidos durante o Decola Tech 2025. Clique para saber mais!"
            cardTitle="Projeto Decola Tech 2025">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
            cardTitle="Projeto 2" 
            photoCover="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg">
        </app-small-card>

        <app-small-card 
            cardTitle="Projeto 3"
            photoCover="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg">
        </app-small-card>

        <app-small-card 
            cardTitle="Projeto 4"
            photoCover="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg">
        </app-small-card>
    </div>
</div>